<div class="carousel">
  <button class="carousel__button carousel__button--left">
    <img src="images/carousel/arrow-left.svg" alt="left-arrow-button" />
  </button>
  <div class="carousel__track-container">
    <ul class="carousel__track">
      <li class="carousel__slide current--slide">
        <img src="./images/carousel/image2.webp" class="carousel__image" alt="" />
      </li>
      <li class="carousel__slide">
        <img src="./images/carousel/image3.webp" class="carousel__image" alt="" />
      </li>
      <li class="carousel__slide">
        <img src="./images/carousel/image5.webp" class="carousel__image" alt="" />
      </li>
      <li class="carousel__slide">
        <img src="./images/carousel/learning.webp" class="carousel__image" alt="" />
      </li>
      <li class="carousel__slide">
        <img src="./images/carousel/swan.jpeg" class="carousel__image" alt="" />
      </li>
      <li class="carousel__slide">
        <img src="./images/carousel/merrygoround.jpeg" class="carousel__image" alt="" />
      </li>
      <li class="carousel__slide">
        <img src="./images/carousel/signage.webp" class="carousel__image" alt="" />
      </li>
    </ul>
  </div>
  <button class="carousel__button carousel__button--right">
    <img src="./images/carousel/arrow-right.svg" alt="right-arrow-button" />
  </button>
  <div class="carousel__nav">
    <button class="carousel__indicator active"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
  </div>
  <div class="carousel__mobile-textbox">
    <p class="home-screen-hero-text-body">A drop-off play studio, designed for young minds aged 18 months to 6 years.</p>
  </div>
</div>
<script src="./scripts/carousel.js"></script>
