<script src="./scripts/navbar.js"></script>
</body>
<footer>
    <a href="#">
        <img src="./images/socials/whatsapp.webp" alt="">
    </a>
    <a href="https://www.instagram.com/themakersclub.sg/">
        <img src="./images/socials/instagram.webp" alt="">
    </a>
    <a href="https://www.facebook.com/themakersclub.sg/">
        <img src="./images/socials/facebook.webp" alt="">
    </a>
</footer>
</html>