<li><a href="/" class=<%= currentPage === 'home' ? 'active' : '' %>>About Us</a></li>
<li><a href="/playmakers" class=<%= currentPage === 'playmakers' ? 'active' : '' %>>Our Playmakers</a></li>
<li><a href="#">Play Sessions</a></li>
<li><a href="#">Workshops</a></li>
<li><a href="#">Private Events</a></li>
<li><a href="#">Paynow Details</a></li>
<a href="https://themakersclub.simplybook.asia/v2/#">
<button class="btn btn-primary book-now-button">Book Now</button>
</a>