<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="./css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="./styles/style.css" />
  <header id="navbar-header">
    <div id="brand">
      <div id="brand-logo-container">
        <img
          src="https://static.wixstatic.com/media/aa291c_8e5d3a619aad45338b19d8b7adf4f79d~mv2.jpg/v1/fill/w_1402,h_1438,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/aa291c_8e5d3a619aad45338b19d8b7adf4f79d~mv2.jpg"
          alt="brand-logo"
          id="brand-logo"
        />
      </div>
      <div id="brand-text-wrapper">
        <span id="brand-text-top">Plain As Play</span>
        <span id="brand-text-bottom">By the Maker's Club</span>
      </div>
    </div>
      <nav id="nav-links">
      </div>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Our Playmakers</a></li>
          <li><a href="#">Playmakers</a></li>
          <li><a href="#">Play Sessions</a></li>
          <li><a href="#">Workshops</a></li>
          <li><a href="#">Private Events</a></li>
          <li><a href="#">Paynow Details</a></li>
        </ul>
      </nav>
      <div id="hamburger-icon">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
  </header>
  <ul class="mobile-navbar">
    <li><a href="#">About Us</a></li>
    <li><a href="#">Our Playmakers</a></li>
    <li><a href="#">Play Sessions</a></li>
    <li><a href="#">Workshops</a></li>
    <li><a href="#">Private Events</a></li>
    <li><a href="#">Paynow Details</a></li>
    <li><a href="#">About Us</a></li>
  </ul>
  <script src="./scripts/navbar.js"></script>
</head>
  <!-- <body></body> -->
</html>
