<div class="modal">
  <div class="modal-content">
    <div class="close-top">
      <div class="modal-close-button">&times;</div>
    </div>
    <!-- <script src="/helper_functions/timeFunctions.js"></script> -->
    <script src="/scripts/modal.js"></script>
  </div>
</div>
