<div class="modal">
  <div class="modal-content">
    <div class="close-top">
      <div class="modal-close-button">&times;</div>
    </div>

    <script type="module" src="/scripts/modal.js"></script>
  </div>
</div>
