<div class="modal">
  <div class="modal-content">
    <div class="close-top">
      <div class="modal-close-button">&times;</div>
    </div>

    <script src="/scripts/modal.js" type="module"></script>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/parsleyjs/dist/parsley.min.js"></script>
  </div>
</div>
