<%- include('partials/header') %>
<div class="content" id="main-content">
    <div class="home-mobile-container">
        <div class="mobile-flex-container">
            <div class="image-container">
            <img src="./images/makers_background_square.png" alt="transparent-background">
            <div class="centred-text">
                Play, with Purpose.
            </div>
        </div>home-screen-hero-text-body-container
        </div>
    </div>  
    <div class="home-screen-container">
        <div class="home-screen-hero-container">
        <img src="./images/makers-logo-transparent.png" alt="transparent-background">
        <div class="home-screen-hero-container-text-container">
            <div class="home-screen-hero-text-title">
                <span class="hover-title">Play,</span> 
                <span class="hover-title">with</span> 
                <span class="hover-title">Purpose.</span>
            </div>
            <div class="home-hero-text-body-container">
            <p class="home-screen-hero-text-body">
                A drop-off play studio, designed for young minds aged 18 months to 6 years.
            </p>
            <p class="home-screen-hero-text-body">
                Here, we foster budding inventors, curious tinkerers,home-hero-text-body-container aspiring designers, and skilled artisans.
            </p>
            <p class="home-screen-hero-text-body">
                Our programs are led by experienced early childhood educators who inspire children to explore and unleash their creativity.
            </p>
            <p class="home-screen-hero-text-body">
                Through ever-evolving interactive installations and playful challenges, we empower children, nurturing their sense of independence—a vital aspect of early childhood development. Join us in the world of playful discovery!
            </p>
            </div>
        </div>

        </div>
    </div>
    </div> 
</div>
<script src="./scripts/navbar.js"></script>
</body>
</html>