<%- include('partials/header') %>
<div class="content">
    <img src="https://static.wixstatic.com/media/aa291c_8e5d3a619aad45338b19d8b7adf4f79d~mv2.jpg/v1/fill/w_852,h_1079,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/aa291c_8e5d3a619aad45338b19d8b7adf4f79d~mv2.jpg" alt="">
</div>
<h1>hello world!</h1>
<script src="./scripts/navbar.js"></script>
</body>
</html>