<%- include('partials/header') %>
<div class="playmakers-header">
    <h1>Meet Our Playmakers!</h1>
    <span class="playmakers-description">Really just children with adult privileges.</span>
</div>
<div class="playmakers-groupshot-wrapper">
<img src="./images/playmakers.webp" id="playmakers-groupshot-mobile" alt="playmakers at makers club">
</div>
<div class="playmakers-content">
    <div class="content content-1">
        <h1>With years of teaching experience, our playmakers are ECDA--qualified educators and huge advocates of play for all children!</h1>

        </div>
    <div class="content content-2"></div>
</div>

<%- include('partials/footer') %>