.sidebar-menu {
  background-color: var(--color-primary);
  position: sticky;
  top: 0;
  width: 20vw;
  height: 100vh;
  z-index: 2;
}

.sidebar-menu li {
  background-color: rgba(139, 98, 32, 0.5);
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.sidebar-menu li a {
  text-decoration: none;
  font-family: var(--main-font);
  color: var(--font-gray);
}

.sidebar-menu li:hover {
  background-color: rgb(139, 98, 32);
}

.sidebar-menu li:hover a {
  text-decoration: none;
  font-family: var(--main-font);
  color: white;
}

.main-content {
  position: absolute;
  top: 0;
  left: calc(20%);
}
