.modal {
  height: 100%;
  width: 100%;
  background-color: var(--font-gray);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.modal.active {
  display: block;
}

.modal-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* height: 50%; */
  opacity: 1;
  transition: opacity 2s ease-in-out;
  border: 2px solid var(--color-primary);
}

.close-top {
  height: var(--space-s);
  display: flex;
  justify-content: flex-end;
}
.modal-close-button {
  color: #aaaaaa;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  top: -1rem;
}

.modal-close-button:hover,
.modal-close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-theme-image {
  width: 55%;
  display: block;
}

.modal-form-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form-left,
.modal-form-right {
  padding: var(--space-m);
}

#image-input {
  border: 2px solid var(--color-primary);
  padding: var(--space-s);
}

.modal-theme-image,
.modal-image-input-div {
  margin-bottom: var(--space-s);
}
