.modal {
  height: 100%;
  width: 100%;
  background-color: var(--font-gray);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.modal.active {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* height: 50%; */
  opacity: 1;
  transition: opacity 2s ease-in-out;
  border: 2px solid var(--color-primary);
}

.close-top {
  height: var(--space-base);
  display: flex;
  justify-content: flex-end;
}
.modal-close-button {
  color: #aaaaaa;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: -1rem;
}

.modal-close-button:hover,
.modal-close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
