/* main header styling */
#navbar-header {
  position: sticky;
  top: 0;
  display: flex;
  padding: 0 var(--space-s);
  height: 50px;
  justify-content: space-between;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--font-gray);
  font-family: "Schoolbell", cursive;
}

#brand {
  display: flex;
  flex-direction: row;
}
#brand-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#brand-logo {
  height: 100%;
  width: auto;
}

#brand-text-wrapper {
  margin-left: var(--space-s);
  display: flex;
  flex-direction: column;
  min-width: 111px;
}

#brand-text-top {
  /* font-family: var(--header-font); */
  letter-spacing: 2.5px;
  margin-top: 12px;
  margin-bottom: 4px;
}

#brand-text-bottom {
  font-size: x-small;
}

#nav-links ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#nav-links ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  padding: 0 10px;
  /* font-family: var(--header-font); */
  text-align: center;
  font-size: 1.3vw;
  color: var(--font-gray);
  transition: transform 0.2s ease-in-out;
}

#nav-links ul li a.active {
  font-size: 1.6vw;
  color: var(--color-primary);
  /* font-family: var(--header-font); */
}

/* mobile navbar collapsed styling */

.mobile-navbar {
  display: none;
  position: sticky;
  top: 50px;
  flex-direction: column;
  height: calc(100vh - 50px);
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Schoolbell", cursive;
}

.mobile-navbar.open {
  display: flex;
}

ul.mobile-navbar {
  list-style: none;
}

.mobile-navbar li a {
  flex-grow: 1;
  text-decoration: none;
  color: var(--font-gray);
}

#hamburger-icon {
  display: none;
  margin-top: 10px;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: rgb(245, 203, 92);
  margin: 6px 0;
}

/* #hamburger-icon .bar1 {
  margin-top: 15px;
} */

@media only screen and (max-width: 890px) {
  header nav {
    display: none;
  }
  #hamburger-icon {
    display: block;
  }
}

@media only screen and (max-width: 900px) {
  #nav-links ul li a {
    font-size: 1.1vw;
  }
}

.content {
  position: relative;
}

.content.open {
  display: none;
}

.bar1.open {
  transform: rotate(-45deg) translate(0px, 6px);
}

.bar3.open {
  transform: rotate(45deg) translate(0px, -6px);
}

.bar2.open {
  display: none;
}

#hamburger-icon div {
  transition: all 0.2s ease-in-out;
}

.mobile-navbar {
  transition: display 1s ease-in-out;
}

#nav-links ul li a:hover {
  transform: scale(1.1);
}
