:root {
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 32px;
  --color-primary: rgb(245, 203, 92);
  --font-gray: rgb(82, 91, 118);
  --header-font:  "Schoolbell", cursive;
  --main-font: "Nunito Sans", sans-serif;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  width: 140px;
  height: 30px;
  border-radius: 10px;
  /* border: 2px solid var(--font-gray); */
  font-family: "Schoolbell", cursive;
  letter-spacing: 1.5px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.btn:hover {
  transform: translate(2px, -2px);
  
}


.btn-primary {
  color: var(--font-gray);
  background-color: var(--color-primary);
}
 
